html {
  position: relative;
  min-height: 100%;
}





body{
  margin-bottom: 100px;
  font-family: Helvetica;
  background-color: #80ced6;
}

.navbar-custom{
  background-color: #80ced6;;
}

@media only screen and (max-width: 800px){
  body{
    background-color: #80ced6;
  }
}




#logo{
  height: 55px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background: #4aaaa5;
}

#logo:hover {
  opacity: 0.6;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

.navbar-right-custom {
  padding-top: 5px
  padding-bottom: 20px;
  font-family: Arial;
  font-weight: bolder;
}

@media only screen and (max-width: 767px){
  .navbar-header {
    background-color: #4aaaa5;
  }
#logo {

  height: 55px;
  width: 100px
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background: #4aaaa5;
  }
}

.description-content {
  padding: 30px;
  margin-top: 35px;

}

.description-header {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 30px
  font-size:26px;
  font-weight: bold;

}

.description-content >p {
  padding-top: 20px
  font-size:20px;
  font-weight: bold;
  color: white;
  line-height: 25px;
}

@media only screen and (max-width: 767px){
  .description-content {
    padding:0;
    margin:0;
  }
}

.description-text {
  padding-bottom: 20px
}


#description-image {
  float: left;
  width: 200px;
  height:210px;
  margin-top: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .description-content {
    padding: 0;
    margin-top: 0;
  }
}



#imageNav-area {
  width:100%;
  padding: 25px 25px 45px;

}



















